<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%p] - %msg%n"/>
		</Console>
		<!-- File Appender -->
		<File name="FileLogger" fileName="target/logs/automation.log" append="false">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p - %msg%n"/>
		</File>
	</Appenders>

	<!-- Loggers -->
	<Loggers>
		<!-- Actual Project Common Package Name -->
		<Logger name="com.zywi.ui" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLogger" />
		</Logger>

		<!-- Disable noise from other libraries -->
		<Logger name="org.testng" level="off" />
		<Logger name="org.openqa.selenium" level="off" />
		<Logger name="org.apache" level="off" />

		<!-- Root Logger for any uncaught external logs -->
		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLogger" />
		</Root>
	</Loggers>
</Configuration>
